name: Docker

env:
  NSD_VERSION: 4.7.0

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Setup tests
      run: bash tests/setup.sh
    - name: Run tests
      run: bash tests/test.sh

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v1
      with:
        registry: ghcr.io
        username: ${{ secrets.GHCR_USERNAME }}
        password: ${{ secrets.GHCR_TOKEN }}

    - name: Build and push Docker image
      uses: docker/build-push-action@v2
      with:
        push: true
        tags: ghcr.io/PhilippKuntschik/nsd:latest,ghcr.io/PhilippKuntschik/nsd:v{{NSD_VERSION}}
